# Assignment 1

### CS2545 - Data Science ###
### Fall, 2021 ###
### UNB, Fredericton ###

Please complete the following and submit this notebook (filename: Assignment1-**lastname**-**firstname**.ipynb) to D2L by 5 pm, November 5. 
</br>
</br>
</br>

**Q1.0** Download the *countries.csv*  and *world_gdp_2019.csv* files from D2L in the current folder. Load them into two dataframes and show first 5 rows.

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# Load countries.csv
countriesDF = pd.read_csv('countries.csv', sep =';')
countriesDF.head()

          Country  Population     Area Currency
0     Afghanistan    32564342   652230  Afghani
1           Egypt    88487396  1001450    Pfund
2         Albania     3029278    28748      Lek
3         Algeria    39542166  2381741    Dinar
4  American Samoa       54343      199   Dollar

In [11]:
# load world_gdp_2019.csv
wgDF = pd.read_csv('world_gdp_2019.csv', sep =';')
wgDF.head()

  Country Name Country Code       GDP_US$
0        Aruba          ABW           NaN
1  Afghanistan          AFG  1.929110e+10
2       Angola          AGO  8.941719e+10
3      Albania          ALB  1.528661e+10
4      Andorra          AND  3.155065e+09

In [ ]:
# **Q1.1** Using the dataframes created in Q1.0, answer the following.

* a. Create a dataframe *cn_gdp* that shows the countries and their GDPs by joining the two dataframes above. Note that you need to show all the countries in *country* dataframe even if there is no information in *gdp* dataframe.  

* b. Remove the rows where the *GDP_US$* columns shows a *NaN* value.

In [18]:
# Q1.1 a
cn_gdp = pd.merge(countriesDF, wgDF, left_on = 'Country', right_on = 'Country Name', how = "left")[['Country', 'GDP_US$']]

In [27]:
# Q1.1 b
cn_gdp.dropna(how = 'any', subset = ['GDP_US$'])
cn_gdp

                      Country       GDP_US$
0                 Afghanistan  1.929110e+10
1                       Egypt  3.030810e+11
2                     Albania  1.528661e+10
3                     Algeria  1.711580e+11
4              American Samoa  6.380000e+08
..                        ...           ...
241         Wallis and Futuna           NaN
242          Christmas Island           NaN
243            Western Sahara           NaN
244  Central African Republic  2.220307e+09
245                    Cyprus  2.494907e+10

[246 rows x 2 columns]

**Q2.1** Add a column *IncomeGroup* to the dataframe *cn_gdp* based on the  GDP of the country and  GDP ranges and the corresponding income group labels below.

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-1wig{font-weight:bold;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
  <tr>
    <th class="tg-1wig" colspan="2"> GDP range</th>
    <th class="tg-0lax" rowspan="2">Income group</th>
  </tr>
  <tr>
    <td class="tg-1wig">Min GDP</td>
    <td class="tg-1wig">Max GDP</td>
  </tr>
  <tr>
    <td class="tg-0lax">0</td>
    <td class="tg-0lax">5.0e+08</td>
    <td class="tg-0lax">low</td>
  </tr>
  <tr>
    <td class="tg-0lax">5.0e+08</td>
    <td class="tg-0lax">5.0e+09</td>
    <td class="tg-0lax">lower middle</td>
  </tr>
  <tr>
    <td class="tg-0lax">5.0e+09</td>
    <td class="tg-0lax">5.0e+10</td>
    <td class="tg-0lax">middle</td>
  </tr>
  <tr>
    <td class="tg-0lax">5.0e+10</td>
    <td class="tg-0lax">5e+11</td>
    <td class="tg-0lax">upper middle</td>
  </tr>
  <tr>
    <td class="tg-0lax">5e+11</td>
    <td class="tg-0lax">5.0e+13</td>
    <td class="tg-0lax">high</td>
  </tr>
</table>

In [ ]:
df[]

**Q2.2**  Using the dataframe from above, group the countries by *IncomeGroup* column and show the average GDP for each income group.

**Q2.3**  Using the dataframe from Q2.1, group the countries by *IncomeGroup* column and plot a bar chart for the median GDP (GDP_US$) for each income group. The y-axis should be in log scale.

**Q3.0** Download the *capitals.csv*  and *major_cities.csv* files from D2L in the current folder. Load them into two dataframes and show first 5 rows. The major cities are some of the cities with relatively large population. The capitals are capitals of the countries.

In [5]:
# Load capitals.csv

In [6]:
# Load major_cities.csv

**Q3.1** For each country that has a Megacity (i.e. city with population more than 10 million), show the name of country and the number of Megacities it has. Note, the countries should be sorted in descending order based on the number of megacities they have.

**Q3.2** For the countries each of whose capital is a major city, show the name of the top 7 capitals (ordered by thier capital city population) and the population of its capital, along with the correspinding country name.

**Q4.0** For the questions Q4.1 and Q4.3, you will plot data on a map. If you have installed an Anaconda Python distribution in your local machine, you have to install basemap and plotly packages. If you are using FCS lab VM, then they are already installed in the VMs.

**Q4.1** From question Q3.2, plot the name of the top 7 capitals (i.e. by capital city population) in a map of the world.  Use the Basemap module for this.

In [7]:
import numpy as np
import matplotlib.pyplot as plt
from mpl_toolkits.basemap import Basemap

**Q4.2** Add a column *GDP_per_capita* to the dataframe *cn_gdp* in Q2.1 . This will be a calculated column based on the GDP per capita of each country.

**Q4.3** Using the above dataframe, create a choropleth map of the world based on the GDP per capita of each country. Use the plotly module for this.

In [11]:
import plotly.graph_objects as go
import pandas as pd