# Hands-on 5

### CS2545 - Data Science ###
### Fall, 2021 ###
### UNB, Fredericton ###

Please complete the following and submit this notebook (filename: handson5-**lastname**-**firstname**.ipynb) to D2L by 5:00 pm, Monday, November 22. 
</br>
</br>
</br>

**Q1.** Download *user.csv*  from hands-on4. The entries in *user*  represent movie reviewers.

Then download the *rating.csv* from hands-on4.  The entries in *rating* represents the movie ratings given by these reviewers. 


Finally, join these two data frames to create a new data frame *rated_by*.

In [1]:

import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt



u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
user = pd.read_csv('user.csv', sep='|', names=u_cols)

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
rating = pd.read_csv('rating.csv', sep='\t', names=r_cols)

# write your code below
rated_by = pd.merge(user, rating)
rated_by.head()

   user_id  age sex  occupation zip_code  movie_id  rating  unix_timestamp
0        1   24   M  technician    85711        61       4       878542420
1        1   24   M  technician    85711       189       3       888732928
2        1   24   M  technician    85711        33       4       878542699
3        1   24   M  technician    85711       160       4       875072547
4        1   24   M  technician    85711        20       4       887431883

**Q1.1.**  Plot a chart with two subplots in a  2 x 1 (i.e. 2 rows and 1 column) layout. Hence, there will be two subplots one on top of the other. The x-axis label should be 'occupation' and shared by both the subplots. The title should appear above the top subplot and it will be 'Movie rating by occupation'.

In the top subplot, plot a bar graph of the number of movie rating attributed to each occupation. The y-axis label should be  'count rating'.

In the bottom subplot, plot a bar graph of the average movie rating attributed to each occupation. The y-axis label should be  'mean rating'.

In [4]:
# write your code below

#group by occupation 
#occupations = list(set(rated_by['occupation']))
numOfRatings = rated_by.groupby('occupation').size()
type(numOfRatings)

fig, axs = plt.subplots(2)
fig.suptitle('Movie rating by occupation')
axs[0].plot(numRatings[0], numRatings[1])
axs[1].plot(x, -y)

NameError: name 'plt' is not defined

**Q2.** The purpose of this question is to familiarize you with the  National Survey of Family Growth (NSFG) dataset used in the textbook. 

Download the codendata.zip by running the commands below in a Terminal shell (on Linux) or clicking the link (on Windows): <br>
wget www.cs.unb.ca/~sray/teaching/datascience/codendata.zip <br>

After you unzip it, you will find several files related to code and NSFG dataset. Copy those files in the current folder.

In [ ]:
import nsfg

nsfg_df = nsfg.ReadFemPreg()

nsfg_df.head(5)

# execute this code cell

**Q2.1** After loading the NSFG dataset, plot a boxplot  of the birth weights for live births. The corresponding column in the data frame is called *birthwgt_lb*.

In [ ]:
# write your code below

**Q2.2** Visually inspect the boxplot to answer the question: what are Q1 and Q3  of the birth weights for live births?

*Hint:* refer to lecture slides on Statistics

Answer:

**Q2.3** 
Using *thinkstats2* APIs calculate Q1 and Q3 of the birth weights for live births (using the dataframe in Q2.1)?

Then calculate the IQR of the  birth weights for live births.

*Hint:* Refer to class notes on percentile and percentile rank APIs from Cdf object.

In [ ]:
import thinkstats2
import thinkplot

# write your code below